@use '../variables' as *;


.radius {
  border-radius: $radius !important;
}

.radius-medium {
  border-radius: $radius-md !important;
}

.radius-large {
  border-radius: $radius-lg !important;
}

.radius-pill {
  border-radius: $radius-pill !important;
}

.radius-rounded {
  border-radius: $radius-rounded !important;
}

.radius-0 {
  border-radius: 0 !important;
}
