@use 'sass:map';
@use '../variables' as *;
@use '../mixins' as *;


// 
// Section header
// 

.section-header {
  min-height: 40px;
  padding-bottom: map.get($spacers, 2);
  border-bottom: $border-width solid $border-color;
  margin-bottom: map.get($spacers, 4);
}

// 
// Section toolbar
// 


// .section-toolbar {
//   min-height: 38px;
// }