@use 'sass:map';
@use '../variables'as *;



.dialog-wallet {
  height: 100%;
  width: 100%;
  padding: $viewport-gap;
  position: fixed;
  z-index: $zindex-dialog;
  top: 0;
  left: 0;
  overflow: hidden;  
  display: flex;
  flex-direction: column;
  align-items: end;
}

.wallet-modal-container {
  height: 100%;
  width: 100%;
  // max-height: 300px; 
  max-width: 320px;
  transition: 0.2s $deceleration-curve;
  position: relative;
  z-index: 1;
}

// Wallet modal
.wallet-modal {
  display: flex;
  flex-direction: column;
  // height: 100%;
  background-color: var(--color-muted);
  border-radius: $radius-md;
  box-shadow: 0 0 1px rgba(0,0,0,.1),0 3px 6px rgba(0,0,0,.05);
}

.wallet-modal-header,
.wallet-modal-body,
.wallet-modal-footer {
  padding: map.get($spacers, 3);
}

.wallet-modal-header,
.wallet-modal-footer {
  flex-shrink: 0;
}

.wallet-modal-header {
  padding-bottom: map.get($spacers, 1);
}

// .wallet-modal-footer {
//   padding-bottom: map.get($spacers, 3);
// }

.wallet-modal-body {
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
  padding-top: 0;
  padding-bottom: 0;
}

.wallet-modal-scroller {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
}